.boltContainer{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none;
  z-index:1000;
}

.bolt{
  fill:none;
  stroke:url(#lightningGradient);
  stroke-width:4;
  stroke-linecap:round;
  stroke-linejoin:round;
  filter:url(#glow);
}
